/*----CSS Footer och några övriga regler
----*/


body {
    
	margin: 3px;
}
a { font-size: 1.2em}

#footer { margin: 3px;
    display: flex;
    position: static;
    justify-content: center;
    border-right: 5em;
    width:98.5%;
    bottom: 3px;
    border-radius: $border-std;
    background-color:$color;
    
  
}

.footerdivar{
    margin: 7px;
    display: inline-block;
    text-align: center;
}


